@model IEnumerable<WyszukiwarkaLotówDR.Baza_danych.Platnosci>

@{ ViewData["Title"] = "Index"; }

<div class="text-center align-items-center justify-content-center">
    <img src="~/images/wybierzSposobPlatnosci.png" />
</div>
<br />

<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        <img src="~/images/@item.Obraz" width="100" height="50" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nazwa)
    </td>
    <td>
        @Html.ActionLink("Wybierz", "Index", new { nazwa = item.Nazwa })
    </td>
</tr>}
    </tbody>
</table>
<button type="button" class="btn btn-primary btn-rounded btn-lg">
    <a class="text-center" style="color:darkorange" asp-area="" asp-controller="ZakupBiletu" asp-action="Create"><span>Powrót</span></a>
</button>
<button type="button" class="btn btn-primary btn-rounded btn-lg">
    <a class="text-center" style="color:darkorange" asp-area="" asp-controller="Podsumowanie" asp-action="Index"><span>Przejdź dalej</span></a>
</button>