@model WyszukiwarkaLotówDR.Loty.Lot

@{
    ViewData["Title"] = "Create";
}

<h1>Utwórz nowy</h1>

<h4>Lot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idLotu" class="control-label"></label>
                <input asp-for="idLotu" class="form-control" />
                <span asp-validation-for="idLotu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="czasWylotu" class="control-label"></label>
                <input asp-for="czasWylotu" class="form-control" />
                <span asp-validation-for="czasWylotu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="czasPrzylotu" class="control-label"></label>
                <input asp-for="czasPrzylotu" class="form-control" />
                <span asp-validation-for="czasPrzylotu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="miejsceWylotu" class="control-label"></label>
                <input asp-for="miejsceWylotu" class="form-control" />
                <span asp-validation-for="miejsceWylotu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="miejscePrzylotu" class="control-label"></label>
                <input asp-for="miejscePrzylotu" class="form-control" />
                <span asp-validation-for="miejscePrzylotu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kodLotniskaWylotu" class="control-label"></label>
                <input asp-for="kodLotniskaWylotu" class="form-control" />
                <span asp-validation-for="kodLotniskaWylotu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kodLotniskaPrzylotu" class="control-label"></label>
                <input asp-for="kodLotniskaPrzylotu" class="form-control" />
                <span asp-validation-for="kodLotniskaPrzylotu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cenaBiletu" class="control-label"></label>
                <input asp-for="cenaBiletu" class="form-control" />
                <span asp-validation-for="cenaBiletu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iloscMiejsc" class="control-label"></label>
                <input asp-for="iloscMiejsc" class="form-control" />
                <span asp-validation-for="iloscMiejsc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
